body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    background-color: #4866d3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: #4866d3;
}

#profileSection {
    margin-top: 20px;
    text-align: center;
}

#profileSection h2 {
    color: #333;
}

#profileSection p {
    color: #666;
}

#profileSection img {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
}